##**2.1 Create variables for your name, age, and favorite color, then print them with descriptive labels.**

In [3]:
name = "Riktika Talukder"
age = 22
favourite_color = "Maroon"

print("Myself ",name)
print("i'm",age,"years old")
print("My favourite color is",favourite_color)

Myself  Riktika Talukder
i'm 22 years old
My favourite color is Maroon

## **2.2 Create one variable of each type and use the type() function to verify its type.**

In [2]:
Name = "Tori"
Age = 2
school = None
is_adult = False

print(type(Name))
print(type(Age))
print(type(school))
print(type(is_adult))

<class 'str'>
<class 'int'>
<class 'NoneType'>
<class 'bool'>

##**2.3 Calculate the area and perimeter of a rectangle with length 7 and width 5.**

In [4]:
length = 5
width = 7

area = length * width
perimeter = 2 * (length + width)

print("Area of the rectangle is:",area)
print("Perimeter of the rectangle is:",perimeter)

Area of the rectangle is: 35
Perimeter of the rectangle is: 24

## **2.4 Create a list of 5 Bangladeshi foods, then access the first and last elements.**

In [5]:
BangladeshiFruits = ["Mango","Jackfruit","Guava","lichi","Jambul"]

print(BangladeshiFruits[0])
print(BangladeshiFruits[-1])

Mango
Jambul

##**2.5 Create a list of 5 numbers, add a new number, remove one, and then sort the list.**

In [7]:
Numbers = [2,23,25,6,50]

Numbers.append(1)
Numbers.remove(23)
Numbers.sort()

print(Numbers)

[1, 2, 6, 25, 50]

# **2.6 Create a dictionary about yourself with at least 4 key-value pairs.**

In [14]:
Student = {
    "Name" : "Riktika Talukder",
    "Email" : "riktikatalukder@gmail.com",
    "University" : "International Islamic University of Chittagong",
    "Department" : "Computer Science and Engineering",
    "Semester" : "7th",
    "Courses" : ["C", "C++", "Python", "Artificial Intelligence", "Machine Learning"]
}
print(Student)

{'Name': 'Riktika Talukder', 'Email': 'riktikatalukder@gmail.com', 'University': 'International Islamic University of Chittagong', 'Department': 'Computer Science and Engineering', 'Semester': '7th', 'Courses': ['C', 'C++', 'Python', 'Artificial Intelligence', 'Machine Learning']}

# **2.7 Create a tuple with the latitude and longitude of a famous place in Bangladesh**

In [15]:
tuple = ("Cox's Bazar","21.43973","92.00955")

print("The latitude and longitude of",tuple[0],"is",tuple[1],"and",tuple[2])

The latitude and longitude of Cox's Bazar is 21.43973 and 92.00955

# **2.8 Create two sets of colors and find their union and intersection.**

In [16]:
primaryColors = {"Red","Blue","Yellow"}
rainbowColors = {"Red","Orange","Yellow","Green","Blue","Indigo","Violet"}

Union = primaryColors | rainbowColors
Intersection = primaryColors & rainbowColors

print("Union of primaryColors and rainbowColors is:",Union)
print("Intersection of primaryColors and rainbowColors is:",Intersection)

Union of primaryColors and rainbowColors is: {'Violet', 'Indigo', 'Red', 'Blue', 'Orange', 'Yellow', 'Green'}
Intersection of primaryColors and rainbowColors is: {'Yellow', 'Red', 'Blue'}

# **2.9 Write a program that checks if a number is positive, negative, or zero**

In [21]:
number = int(input("Enter a number:"))

if number > 0:
  print("The number is positive.")

elif number < 0:
  print("The number is negative.")

else:
  print("The number is zero.")

Enter a number:-9
The number is negative.

# **2.10 Write a program that checks eligibility for a discount (student AND under 25, OR senior over 60).**

In [33]:
role = input("Role? (student/senior)")
age = int(input("Enter your age:"))

if (role == "student" and age < 25) or (role == "senior" and age > 60):
  print("Eligible")
else:
  print("Not eligible")

Role? (student/senior)student
Enter your age:15
Eligible

# **2.11 Write a program that prints the first 10 even numbers using a for or while loop.**

In [56]:
num = 0
for i in range (1,100):
   if i % 2 == 0:
    num += 1
    print(i)
    if num >= 10:
      break

2
4
6
8
10
12
14
16
18
20

# **2.12 Write a program that prints a simple number pyramid pattern using nested loops.**

In [68]:
rows = int(input("Enter number of rows:"))

for i in range(1,rows+1):
  for space in range(rows-i):
    print(" ", end=" ")

  for num in range(1,2*i):
    print(num, end=" ")
  print()

Enter number of rows:5
        1
      1 2 3
    1 2 3 4 5
  1 2 3 4 5 6 7
1 2 3 4 5 6 7 8 9

# **2.13 Create a function that converts temperature from Celsius to Fahrenheit using the formula: F = (C × 9/5) + 32**

In [70]:
temperature = float(input("Enter temperature in Celsius:"))

def conversion(temperature):
  return (temperature * 9/5) + 32

print("Temperature in Fahrenheit is:",conversion(temperature))

Enter temperature in Celsius:23
Temperature in Fahrenheit is: 73.4

# **2.14 Create a function with default parameters that calculates the area of a rectangle.**

In [71]:
def area(length = 5, width = 7):
  return length * width

print("The area of the rectangle is:",area())

The area of the rectangle is: 35